$blue: #11335d;

body.queenslaw-sub-site {
	#branding {
		.block-logo svg {
	  		height: 60px;
		}
		.block-lsscrest svg {
	  		height: 110px;
	  		border-right: 2px solid #FFF;
	  		padding: 3px 18px 3px 0;
		}
	}
	#header {
		background-color: $blue;
	}
}


	




