body.queenslaw-sub-site #branding {
  .block-logo svg {
      height: 40px;
      padding-top: 0;
  }
  .block-lsscrest svg {
      height: 60px;
  }
}

#header {
  height: inherit;
}

#header > div .header-content #block-mainnavigation .small-screen-nav-trigger {
	top: 30px;
	height: 15px;
	width: 24px;
	overflow: hidden;
}